---
---
<!DOCTYPE html>
<html lang="ja">

<head id="include_head">
	<title>500系運用まとめ</title>

	<meta property="og:title" content="500系運用まとめ">
	<meta property="og:description" content="">

	<!-- <meta property="og:image" content=""> -->
    {% include head.html %}
</head>

<body>
	{% include header.html %}
	<div class="readable_width content_src">

		<script>insert_timestamp(new Date('2026/9/26 00:00'));</script>

		<h1>500系運用まとめ</h1>

		<p>この記事は <a href="https://adventar.org/calendars/10051">Fediverse Advent Calendar 2024</a> の 12 月 6 日分になります。</p>

		<div class="toc-001">
			<div>
				目次
			</div>
			<ol>
				<li><a href="#ending">最後に</a></li>
			</ol>
		</div>

                <div class="table-wrap">
            <figure>
                <table>
                    <caption>保有証券一覧</caption>
                    <tr>
                        <th>コード</th>
                        <th>銘柄</th>
                        <th>保有数</th>
                        <th>買値</th>
                        <th>年初</th>
                        <th>現在</th>
                        <th>年初比</th>
                    </tr>
                    <tr>
                        <td>9020</td>
                        <td>東日本旅客鉄道</td>
                        <td align="right">100</td>
                        <td align="right">6,570</td>
                        <td align="right">7,437</td>
                        <td align="right">7,972</td>
                        <td align="right">+535</td>
                    </tr>
                    <tr>
                        <td>9021</td>
                        <td>西日本旅客鉄道</td>
                        <td align="right">100</td>
                        <td align="right">6,000</td>
                        <td align="right">5,820</td>
                        <td align="right">5,831</td>
                        <td align="right">+11</td>
                    </tr>
                    <tr>
                        <td>9142</td>
                        <td>九州旅客鉄道</td>
                        <td align="right">100</td>
                        <td align="right">2,500</td>
                        <td align="right">2,880</td>
                        <td align="right">3,108</td>
                        <td align="right">+228</td>
                    </tr>
                    <tr>
                        <td>8267</td>
                        <td>イオン</td>
                        <td align="right">100</td>
                        <td align="right">2,500</td>
                        <td align="right">2,752</td>
                        <td align="right">3,072</td>
                        <td align="right">+320</td>
                    </tr>
                </table>
                <figcaption>現在価格は 2023 年 12 月 1 日終値</figcaption>
            </figure>
        </div>

		<h2 id="ending">最後に</h2>

	</div>
	{% include footer.html %}
	
</body>

</html>